extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/admin.css")
block scripts
  script(src="/scripts/admServicesList.js")
block content
  body
    section
      div#back
        a(href="/admin" title="На страницу администрирования" rel="prev")
          img(src="/images/back.png" alt="назад")
          span Назад
      div.title= title
      div#menuButtons
        div
          button#saveServices(type="button" title="Сохранить")
            img(src="/images/save.png" alt="Сохранить")
        div
          button(type="reset" title="Отменить")
            img(src="/images/undo.png" alt="Отменить")
        div
          button#newService(type="reset" title="Новая запись")
            img(src="/images/new.png" alt="Новая запись")
      div#board
        div#buttons
          each row in rows
            div.svcButton(id="type-" + row.id)= row.name
        div#serviceList
