doctype html
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/styles/layout.css")
    link(rel="stylesheet", type="text/css", href="/styles/login.css")
  body
    div#errorMsg
      p Неверный пароль
      p
        a(href="/admin")
          button Повторить ввод пароля