table
  colgroup
    col.col10
    col.col20
    col.col10
    col.col10
    col.col5
  tbody#servicesTable
    tr
      th Название
      th Описание
      th Длительность, мин.
      th Стоимость, руб.
      th Удалить
    tr(id="svc-0" hidden="hidden")
      td
        input(name="name")
      td
        textarea(name="description")
      td.center
        input.num(name="duration" type="number")
      td.center
        input.num(name="price" type="text")
      td.center
        input(type="checkbox" name="delete")
    each row in rows
      tr(id="svc-" + row.id)
        td
          input(value=row.name name="name")
        td
          textarea(name="description")=row.description
        td.center
          input.num(value=row.duration name="duration" type="number")
        td.center
          input.num(value=row.price name="price" type="text")
        td.center
          input(type="checkbox" name="delete")

