extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/enrollService.css")
  link(rel="stylesheet" type="text/css" href="/styles/enrollCommon.css")
block scripts
  script(src="/scripts/enrollService.js")
block content
  section
    div#back
      a(href="/" title="На главную страницу" rel="prev")
        img(src="/images/back.png")
        span Назад
    div#board
      div.title= title
      each typeObj in rows
        div.button(id="type-"+typeObj.id)=typeObj.name
      div#serviceList
