extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/enrollment.css")
block content
  section
    div#back
      a(href="/" title="На главную страницу" rel="prev")
        img(src="/images/back.png")
        span Назад
    div#board
      div.title= title

      input(id="shadow-slide1" name="shadow-slide" type="radio" checked="")
      label(class="button SlideKey1" for="shadow-slide1") Лицо

      input(id="shadow-slide2" name="shadow-slide" type="radio")
      label(class="button SlideKey2" for="shadow-slide2") Волосы

      input(id="shadow-slide3" name="shadow-slide" type="radio")
      label(class="button SlideKey3" for="shadow-slide3") Ногти

      input(id="shadow-slide4" name="shadow-slide" type="radio")
      label(class="button SlideKey4" for="shadow-slide4") Татуировки

      div(id="slider")
        div(class="elements")
          div(class="element SlideBox1")
            table
              tr
                td Чистка лица
                td 1 час
                td 250 руб.
                td.enroll Записаться
              tr
                td Косметические маски
                td 2 час
                td 330 руб.
                td.enroll Записаться
              tr
                td Массаж лица
                td 1 час
                td 330 руб.
                td.enroll Записаться
              tr
                td Косметологический уход
                td 3 часа
                td 230 руб.
                td.enroll Записаться
          div(class="element SlideBox2")
            table
              tr
                td Обесцвечивание
                td 1 час
                td от 300 руб.
                td.enroll Записаться
              tr
                td Колорирование
                td 1 час
                td от 450 руб.
                td.enroll Записаться
              tr
                td Прическа свадебная
                td 1 час
                td от 1000 руб.
                td.enroll Записаться
              tr
                td Прическа вечерняя
                td 1 час
                td от 600 руб.
                td.enroll Записаться

          div(class="element SlideBox3")
            table
              tr
                td Маникюр комбинированный
                td 1 час
                td.price 1 800 руб.
                td.enroll Записаться
              tr
                td Маникюр мужской
                td 1 час
                td.price 2 000 руб.
                td.enroll Записаться
              tr
                td Маникюр детский
                td 1 час
                td.price 1 400 руб.
                td.enroll Записаться
              tr
                td Покрытие лаком
                td 1 час
                td.price 500 руб.
                td.enroll Записаться
              tr
                td Лечебное покрытие
                td 1 час
                td.price 300 руб.
                td.enroll Записаться
              tr
                td Уход за руками (маска + массаж)
                td 1 час
                td.price 1 000 руб.
                td.enroll Записаться
              tr
                td Аппаратный педикюр
                td 1 час
                td.price 3 000 руб.
                td.enroll Записаться
              tr
                td Коррекция педикюра
                td 1 час
                td.price 1 500 руб.
                td.enroll Записаться
              tr
                td Протезирование ногтя
                td 1 час
                td.price 500 руб.
                td.enroll Записаться
              tr
                td Удаление мозоля 1 эл.
                td 1 час
                td.price 400 руб.
                td.enroll Записаться
              tr
                td Коррекция врошего ногтя
                td 1 час
                td.price 500 руб.
                td.enroll Записаться
              tr
                td Наращивание ногтей гель
                td 1 час
                td.price 4 500 руб.
                td.enroll Записаться
              tr
                td Снятие гелевого покрытия
                td 1 час
                td.price 1 200 руб.
                td.enroll Записаться
              tr
                td Наращивание 1-го ногтя
                td 1 час
                td.price 500 руб.
                td.enroll Записаться

          div(class="element SlideBox4")
            table
              tr
                td 1
                td 1 час
                td 250 руб.
                td.enroll Записаться
              tr
                td 2
                td 2 час
                td 330 руб.
                td.enroll Записаться
              tr
                td 3
                td 1 час
                td 330 руб.
                td.enroll Записаться
              tr
                td 4
                td 3 часа
                td 230 руб.
                td.enroll Записаться
