extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/services.css")
block content
  body
    section#shop
      div#back
        a(href="/#services" title="На главную страницу" rel="prev")
          img(src="/images/back.png")
          span Назад
      div.title= title
      table#goods
        tr
          td
            div.name Чистка лица
            div.desc Процедуры по очищению кожи лица с помощью мануальных или аппаратных методик, способствующих удалению загрязнений, отшелушиванию отмершего эпидермиса, устранению комедонов и воспалительных элементов
          td.price 250 руб.
        tr
          td
            div.name Косметические маски
            div.desc Средство дополнительного ухода за кожей лица, предполагающее нанесение на нее определенного состава веществ
          td.price 250 руб.
        tr
          td
            div.name Массаж лица
            div.desc процедура, включающая стимулирующее или расслабляющее воздействие на кожу, подкожные слои, сосуды и нервно-мышечные волокна с целью достижения необходимого косметического эффекта
          td.price 330 руб.
        tr
          td
            div.name Косметологический уход
            div.desc Это серия косметологических процедур, которые проводятся поэтапно
          td.price 230 руб.
