extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/services.css")
block content
  section
    div#back
      a(href="/#services" title="На главную страницу" rel="prev")
        img(src="/images/back.png")
        span Назад
    div.title= title
    table#goods
      tr
        td
          div.name Обесцвечивание
          div.desc Обесцвечивание волос представляет собой процесс, при котором происходит полное или частичное разрушение окрашивающего или натурального пигмента.
        td.price от 300 руб.
      tr
        td
          div.name Колорирование
          div.desc Колорирование на темные волосы: какие оттенки выбрать, фото, все тонкости процедуры Само слово «колорирование» происходит от английского «color» — цвет. В этом и заключается вся суть процедуры: несколько близких друг другу оттенков, нанесенных на локоны, насыщают их цветом и добавляют блеск.
        td.price от 450 руб.
      tr
        td
          div.name Прическа свадебная
          div.desc Свадьба — это знаменательное событие, на котором каждая девушка хочет выглядеть как сказочная принцесса.
        td.price от 1000 руб.
      tr
        td
          div.name Прическа вечерняя
          div.desc Вечерняя прическа – особенная, потому что она предназначена не для повседневности, а для особых случаев. Она украшает женщину, добавляет ей очарование, изящество и грацию, а также немного таинственности и загадочности.
        td.price от 600 руб.
      tr
        td
          div.name Стрижка модельная
          div.desc Это не просто аккуратно подстриженные волосы, а проработанное до мелочей силуэтное решение, строго выверенный фасон и характерные черты.
        td.price 200 руб.
      tr
        td
          div.name Окантовка
          div.desc Это операция стрижки, в результате которой образуется четкая линия, ограничивающая волосы по направлению их естественного роста, и создается контур будущей прически
        td.price 50 руб.
      tr
        td
          div.name Мытье головы
          div.desc Мытье головы в парикмахерских - одна из основных операций, применяемая почти при всех видах обработки волос. Роль этой операции в настоящее время все возрастает. Так, в последние годы вместе с применением филировочной бритвы был освоен новый метод обработки волос - стрижка, которая требует обязательного мытья головы. То же можно сказать и о моделировании причесок с применением химических составов.
        td.price 50 руб
