doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/styles/index.css')
  body
    nav
      table
        tr
          td.navItem(data-nav="main") Главная
          td
            input(type="radio" name="positon" value="main" checked="checked")
        tr
          td.navItem(data-nav="services") Услуги
          td
            input(type="radio" name="positon" value="services")
        tr
          td.navItem(data-nav="masters") Мастера
          td
            input(type="radio" name="positon" value="masters")
        tr
          td.navItem(data-nav="reviews") Отзывы
          td
            input(type="radio" name="positon" value="reviews")
        tr
          td.navItem(data-nav="goods") Товары
          td
            input(type="radio" name="positon" value="goods")
        tr
          td.navItem(data-nav="contacts") Контакты
          td
            input(type="radio" name="positon" value="contacts")
    header#main
      div#headComposition
        div#logo
          img(src="/images/logo.png" alt="логотип")
        div#signboard
          div#nameTxt Кэтрин
          div#nameFrame
        div#buttons
          div#about О нас
          div#book Онлайн запись
    section#services
      div#servicesGrid
        div.sericeRow
          div.sericePink Уход
          div
            img(src="/images/care.jpg")
          div.sericeBlack Лицо
          div
            img(src="/images/face.jpg")
        div.sericeRow
          div
            img(src="/images/hair.jpg")
          div.sericeBlack Волосы
          div
            img(src="/images/nails.jpg")
          div.sericePink Ногти
    section#masters
      div#mastersGrid
        div.masterRow
          div.masterCell.leftCell
            div
              img(src="/images/master_Olga.jpg")
            div
              div.masterName ОЛЬГА КУЗНЕЦОВА
              div.hr
              div.masterTitle мастер ногтевого сервиса
              div.masterGalery Галерея работ
          div.masterCell.rightCell
            div
              img(src="/images/master_Olga.jpg")
            div
              div ОЛЬГА КУЗНЕЦОВА
              div.hr
              div мастер ногтевого сервиса
              div Галерея работ
    section#reviews
    section#goods
      div
    footer#contacts
