doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/styles/index.css')
  body
    nav
      table
        tr
          td.navItem(data-nav="main") Главная
          td
            input(type="radio" name="positon" value="main" checked="checked")
        tr
          td.navItem(data-nav="services") Услуги
          td
            input(type="radio" name="positon" value="services")
        tr
          td.navItem(data-nav="masters") Мастера
          td
            input(type="radio" name="positon" value="masters")
        tr
          td.navItem(data-nav="reviews") Отзывы
          td
            input(type="radio" name="positon" value="reviews")
        tr
          td.navItem(data-nav="goods") Товары
          td
            input(type="radio" name="positon" value="goods")
        tr
          td.navItem(data-nav="contacts") Контакты
          td
            input(type="radio" name="positon" value="contacts")
    header#main
      div#headComposition
        div#logo
          img(src="/images/logo.png" alt="логотип")
        div#signboard
          div#nameTxt Кэтрин
          div#nameFrame
        div#buttons
          div#about О нас
          div#book Онлайн запись
    section#services
      div#servicesGrid
        div.sericeRow
          div.sericePink Уход
          div
            img(src="/images/care.jpg")
          div.sericeBlack Лицо
          div
            img(src="/images/face.jpg")
        div.sericeRow
          div
            img(src="/images/hair.jpg")
          div.sericeBlack Волосы
          div
            img(src="/images/nails.jpg")
          div.sericePink Ногти
    section#masters
      div#mastersGrid
        div.masterRow
          div.masterCell.leftCell
            div
              img(src="/images/master_Olga_Kuznecova.jpg")
            div.masterDescription
              div.masterName Ольга Кузнецова
              div.masterHr
              div.masterTitle мастер ногтевого сервиса
              div.masterGalery Галерея работ
          div.masterCell.rightCell
            div
              img(src="/images/master_Natalya.jpg")
            div.masterDescription
              div.masterName Наталья Кодесникова
              div.masterHr
              div.masterTitle мастер ногтевого сервиса
              div.masterGalery Галерея работ
        div.masterRow
          div.masterCell.leftCell
            div
              img(src="/images/master_Alexandra.jpg")
            div.masterDescription
              div.masterName Александра Степанова
              div.masterHr
              div.masterTitle парикмахер
              div.masterGalery Галерея работ
          div.masterCell.rightCell
            div
              img(src="/images/master_Olga_Yakurnova.jpg")
            div.masterDescription
              div.masterName Ольга Якурнова
              div.masterHr
              div.masterTitle парикмахер
              div.masterGalery Галерея работ
        div.masterRow
          div.masterCell.leftCell
            div
              img(src="/images/master_Maria_Alexandrova.jpg")
            div.masterDescription
              div.masterName Мария Александрова
              div.masterHr
              div.masterTitle мастер по наращиванию волос
              div.masterGalery Галерея работ
          div.masterCell.rightCell
            div
              img(src="/images/master_Alexandr_Kashurnikov.jpg")
            div.masterDescription
              div.masterName Александр Кашурников
              div.masterHr
              div.masterTitle тату мастер
              div.masterGalery Галерея работ
    section#reviews
      table#reviewsTable
        caption.title Отзывы
        tr
          td В салоне представлено максимально приятное сочетание качества услуг и цен. Все процедуры выполнены качественно, чувствуется рука мастера. Приду к вам снова!
          td Очень порадовал сервис, процедура по наращивание ресниц проведена достаточно быстро и безболезненно. Всем советую мастера.
          td Хочу отметить, что все инструменты были обработаны перед процедурой прямо при мне - так что не было причин для волнения. Работа мастера выполнена очень аккуратно - я очень довольна новой стрижкой.
        tr
          td
            strong Ольга Смирнова
          td
            strong Анна Петрова
          td
            strong Елена Иванова
      div#feedback Оставить отзыв
    section#goods
      table#goodsTable
        caption.title Товары
        tr
          th Organic
          th Matrix
          th Kapous
        tr
          td
            strong Ольга Смирнова
          td
            strong Анна Петрова
          td
            strong Елена Иванова
    footer#contacts
