doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/styles/index.css')
  body
    nav
      table
        tr
          td.navItem(data-nav="main") Главная
          td
            input(type="radio" name="positon" value="main" checked="checked")
        tr
          td.navItem(data-nav="services") Услуги
          td
            input(type="radio" name="positon" value="services")
        tr
          td.navItem(data-nav="masters") Мастера
          td
            input(type="radio" name="positon" value="masters")
        tr
          td.navItem(data-nav="reviews") Отзывы
          td
            input(type="radio" name="positon" value="reviews")
        tr
          td.navItem(data-nav="goods") Товары
          td
            input(type="radio" name="positon" value="goods")
        tr
          td.navItem(data-nav="contacts") Контакты
          td
            input(type="radio" name="positon" value="contacts")
    header#main
      div#headComposition
        div#logo
          img(src="/images/logo.png" alt="логотип")
        div#signboard
          div#nameTxt Кэтрин
          div#nameFrame
    section#services
    section#masters
      div
    section#reviews
    section#goods
      div
    footer#contacts
