extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/shop.css")
block content
  body
    section#shop
      div#back
        a(href="/#goods" title="На главную страницу" rel="prev")
          img(src="/images/back.png")
          span Назад
      div.title= title
      table#goods
        tr
          td
            img(src="/images/goods/organic/silk_nectar.jpg")
          td
            div.name Шампунь "Шелковый нектар"
            div.desc Зеркальный блеск и невероятную гладкость Вашим волосам придаст органическое масло ши в сочетании с шёлковым маслом, 280 мл.
          td.price 250 руб.
        tr
          td
            img(src="/images/goods/organic/gold_orchid.jpg")
          td
            div.name Шампунь "Золотая орхидея"
            div.desc Искрящийся яркий цвет и невероятную эластичность придаёт волосам экзотическое сочетание органического экстракта орхидеи и золотого масла жожоба, 280 мл.
          td.price 250 руб.
        tr
          td
            img(src="/images/goods/organic/indian_jasmine.jpg")
          td
            div.name Маска для волос "Индийский жасмин"
            div.desc Роскошный объем, густоту и пышность волосам придаст насыщенная экспресс-маска благодаря входящим в её состав органическому экстракту жасмина и маслу жожоба, 250 мл.
          td.price 330 руб.
        tr
          td
            img(src="/images/goods/organic/tropical_mango.png")
          td
            div.name Бальзам для волос "Тропический манго" MANGO
            div.desc Бальзам для волос "Тропический манго" MANGO. Сила цвета и защита. 100% фруктовая польза натуральных витаминов. Только настоящие фрукты для красоты ваших волос, 200 мл.
          td.price 230 руб.
        tr
          td
            img(src="/images/goods/organic/easy_combing.png")
          td
            div.name Гель для волос. Легкое расчесывание
            div.desc Всего три шага на пути к «послушным» и красивым волосам! Раз – мгновенное восстановление и увлажнение. Два – легкое расчесывание. Три - защита от агрессивного воздействия внешних факторов.  100 мл.
          td.price 76 руб.
