extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/services.css")
block content
  section
    div#back
      a(href="/#services" title="На главную страницу" rel="prev")
        img(src="/images/back.png")
        span Назад
    div.title= title
    table#goods
      tr
        td
          div.name Маникюр комбинированный 
        td.price 1 800 руб.
      tr
        td
          div.name Маникюр мужской
        td.price 2 000 руб.
      tr
        td
          div.name Маникюр детский
        td.price 1 400 руб.
      tr
        td
          div.name Покрытие лаком
        td.price 500 руб.
      tr
        td
          div.name Лечебное покрытие 
        td.price 300 руб.
      tr
        td
          div.name Уход за руками (маска + массаж)
        td.price 1 000 руб.
      tr
        td
          div.name Аппаратный педикюр
        td.price 3 000 руб.
      tr
        td
          div.name Коррекция педикюра
        td.price 1 500 руб.
      tr
        td
          div.name Протезирование ногтя
        td.price 500 руб.
      tr
        td
          div.name Удаление мозоля 1 эл.
        td.price 400 руб.
      tr
        td
          div.name Коррекция врошего ногтя
        td.price 500 руб.
      tr
        td
          div.name Наращивание ногтей гель
        td.price 4 500 руб.
      tr
        td
          div.name Снятие гелевого покрытия
        td.price 1 200 руб.
      tr
        td
          div.name Наращивание 1-го ногтя
        td.price 500 руб.
