.button {
  margin: 0 5px;
}

.button, .enroll {
  cursor: pointer;
  display: inline-block;
  background-color: #FAEECD;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  border: 1px solid grey;
}

.button:hover, .enroll:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.selected {
  background: yellow;
}

#serviceList table {
  margin: 1em auto;
  border-spacing: 0.5em 1em;
}

#serviceList table tr td {
  text-align: left;
}

}
