a {
  text-decoration: none;
  color: black;
}

nav {
  top: 0;
  bottom: 0;
  right: 2em;
  position: fixed;
  margin: auto;
  z-index: 10;
  height: 8em;
}

nav ul { list-style: none; }
nav li {
  text-align: right;
  margin: 0.5em 0;
  font-variant: small-caps;
  cursor: pointer;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

#headerCenter{
  position: relative;
  width: 980px;
  margin: 0 auto;
}

#main {
  background-image: linear-gradient(to right, #fbebdb, #e5f4fb);
  width: 100%;
  height: 30em;
}

#services {
  background-image: linear-gradient(to right, #fbebdb, #e5f4fb);
  width: 100%;
  overflow: auto;
  padding-bottom: 2em;
}

#masters {
  background-image: url(/images/wall_bricks.jpg);
  width: 100%;
  overflow: auto;
  padding-top: 2em;
}

#reviews{
  width: 100%;
  padding-top: 2em;
}

#goods {
  background-image: url(/images/wall_goods.png);
  background-color: #FAEECD;
  width: 100%;
  padding-top: 2em;
}

#contacts {
  background-image: url(/images/wall_circles.jpg);
  width: 100%;
  padding-top: 4em;
  padding-bottom: 6em;
}

#headComposition {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

#logo{
  position: absolute;
  right: 7em;
  top:  3em;
}

#signboard {
  position: relative;
  top: 9em;
  left: 7em;
  width: 50%;
  margin: 0 auto;
}

#nameTxt{
  font-family: sans-serif;
  font-size: 45px;
  font-variant: small-caps;
  text-shadow: 5px 5px 2px grey;
  position: absolute;
  top: 1.25em;
  left: 1.85em;
  z-index: 2;
}

#nameFrame {
  background: white;
  width: 20em;
  height: 10em;
  filter: opacity(0.85) blur(10px);;
}

#buttons {
  position: relative;
  top: 10em;
}

#aboutShow, #enrollment {
  border: 2px solid #FAB89D;
  border-radius: 4px;
  color: #E97B4E;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  font-size: 1.15em;
  font-weight: bold;
  padding: 0.25em;
  margin: 1em auto;
  cursor: pointer;
}

#aboutShow { width: 10em; }
#aboutShow:hover { background-color: white; }

#aboutTxt, #feedbackTxt, #feedbackResult, #questionResult {
  background-color: white;
  border: 2px solid #FAB89D;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 1.15em;
  margin: 0 auto;
  padding: 1em 2em;
  position: fixed;
  top: 20%;
  z-index: 3;
}

#aboutTxt, #feedbackTxt {
  left: calc((100% - 700px)/2);
  width: 700px;
  text-align: justify;
}

#feedbackResult {
  left: calc((100% - 200px)/2);
  width: 200px;
  text-align: center;
}

#questionResult {
  left: calc((100% - 400px)/2);
  width: 400px;
  text-align: center;
  color: black;
}

#feedbackInput input, #feedbackInput textarea {
  margin: 0.25em 0;
  width: calc(100% - 1em);
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5em;
}

#feedbackInput textarea {
  resize: none;
  height: 8em;
}

.btnClose {
  position: absolute;
  right: 0;
  top: 0;
}

.btnClose img {
  transition: transform 0.75s ease-in-out;
}

.btnClose img:hover {
  transform: rotate(360deg);
}

#enrollment { width: 15em; }
#enrollment:hover { background-color: white; }

#enrollment a { color: #E97B4E; }

#servicesGrid, #mastersGrid {
  margin: 0em auto;
  width: 940px;
}

.sericeRow { clear: left; }

.sericeRow > div {
  width: 235px;
  height: 235px;
  float: left;
}

.sericePink {
  background-color: #FAB89D;
  color: black;
}

.sericeBlack {
  background-color: black;
  color: white;
}

.sericePink, .sericeBlack {
  font-family: sans-serif;
  font-size: 40px;
  font-variant: small-caps;
  text-align: center;
  vertical-align: middle;
  line-height: 235px;
}

.masterRow {
  margin-bottom: 2em;
  height: 220px;
}

.leftCell  { float: left; }
.rightCell { float: right; }

.masterCell {
  margin: 0.5em 0;
}

.masterCell > div, .masterCell > div {
  width: 220px;
  height: 220px;
  float: left;
  background-color: #FAB89D;
}

.masterDescription {
  position: relative;
  text-align: center;
}

.masterName {
  position: relative;
  top: 2em;
  font-size: 1.5em;
  font-variant: small-caps;
}

.masterHr {
  border: 1px solid black;
  width: 75px;
  margin: 0 auto;
  position: relative;
  top: 4em;
}

.masterTitle {
  position: relative;
  top: 5em;
}

.masterGalery {
  position: absolute;
  bottom: 1em;
  left: calc((220px - 8em)/2);
  font-style: italic;
}

#goodsTable {
  width: 980px;
  background: inherit;
  margin: 0 auto;
  text-align: center;
  border-spacing: 1em 0;
  font-family: sans-serif;
  font-size: 1.15em;
}

#reviewsTable {
  font-family: sans-serif;
  font-size: 1.15em;
  width: 940px;
  margin: 0 auto;
}

#reviewsTable div {
  margin: 0.5em 0;
}

#feedbackShow {
  border-radius: 4px;
  background-color: #FAB89D;
  color:  white;
  width: 20em;
  margin: 1em auto;
  padding: 0.5em;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

#feedbackShow:hover {
  background-color: grey;
  color: #FAB89D;
}

#goodsTable {
  border-spacing: 1em 0;
}

#goodsTable th {
  background-color: white;
  padding: 2em 0;
}

#goodsTable a {
  text-shadow: 1px 1px 1px grey;
  font-variant: small-caps;
  font-size: 45px;
  font-style: italic;
  font-weight: lighter;
}

#goodsTable a:hover {
  color: #FAEECD;
}

#address {
  width: 680px;
  background: black;
  color: white;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.15em;
}

#address a { color: white; }

#questionForm {
  margin: 1em;
}

#questionForm input, #questionForm textarea {
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 0.25em;
  margin: 0.25em;
}

#questionForm textarea {
  resize: none;
  height: 85px;
  width: 200px;
}

#questionInput {
  position: relative;
  width: 25em;
  height: 6em;
  margin: 0 auto;
}

#questionSender {
 position: absolute;
 left: 1em;
}

#questionMessage {
  position: absolute;
  right: 1em;
}

#submitQuestion:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
