body { margin: 0; }
a {
  text-decoration: none;
  color: black;
}

nav {
  top: 0;
  bottom: 0;
  right: 2em;
  position: fixed;
  margin: auto;
  z-index: 10;
  height: 8em;
}


nav td { text-align: right; }

nav input[type="radio"] {
  vertical-align: middle;
}

nav input[type="radio"] {
  margin: 0;
}

.navItem {
  font-variant: small-caps;
  cursor: pointer;
/*  display: none;*/
}

#main {
  background-image: linear-gradient(to right, #fbebdb, #e5f4fb);
  width: 100%;
  height: 500px;
}

#services {
  background-image: linear-gradient(to right, #fbebdb, #e5f4fb);
  width: 100%;
  height: 500px;
}

#masters {
  background-image: url(/images/wall_bricks.jpg);
  width: 100%;
  height: 500px;
}

#goods {
  background-image: url(/images/goods.png);
  width: 100%;
  height: 500px;
}

#contacts {
  background-image: url(/images/wall_circles.jpg);
  width: 100%;
  height: 500px;
}

#headComposition {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

#logo{
  position: absolute;
  right: 7em;
  top:  3em;
}

#signboard {
  position: relative;
  top: 9em;
  left: 7em;
  width: 50%;
  margin: 0 auto;
}

#nameTxt{
  font-family: open sans condensed,sans-serif;
  font-size: 45px;
  font-variant: small-caps;
  text-shadow: 5px 5px 2px grey;
  position: absolute;
  top: 1.25em;
  left: 1.85em;
  z-index: 2;
}

#nameFrame {
  background: white;
  width: 20em;
  height: 10em;
  filter: opacity(0.85) blur(10px);;

}
