body {
  background-image: url(/images/wall_services.png);
}

section {
  padding-bottom: 6em;
}

#goods {
  width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
}

#goods td {
  vertical-align: top;
  padding: 1em;
  border-bottom: 2px solid black;
}

.name, .price {
  color: #5E5E5E;
  font: normal normal normal 22px/1.4em serif;
}

.desc {
  font-style: italic;
  font-family: serif;
}
