body {
  background-image: url(/images/wall_shop.png);
}

section {
  padding-bottom: 6em;
}

#back {
  position: fixed;
  top: 1em;
  left: 1em;
}

#back img {
  vertical-align: middle;
}

#goods {
  width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
}

#goods td {
  padding: 0.5em;
  border-bottom: 2px solid black;
}

.name, .num {
  vertical-align: top;
  color: #5E5E5E;
  font: normal normal normal 22px/1.4em serif;
}

.desc {
  font-style: italic;
  font-family: serif;
  margin-top: 0.5em;
}
